:root{
    --crimson:#dc143d
}

*{
    font-family: sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    outline: none;
    border: none;
    text-transform: capitalize;
}

body{
    background-color: rgb(42,42,42);
    padding-left: 35rem;
    overflow-x: hidden;
}

html{
    font-size: 62%;
    overflow-x: hidden;
}
section{
    height: 100vh;
}
header{
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 35rem;
    background-color: #535151;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-flow: column;
    text-align: center;
    
}

header .user .imgdiv img{
    height: 21rem;
    width: 17rem;
    margin-bottom: .4rem;
    object-fit: cover;
    border: .7rem solid;
    border-image: radial-gradient(var(--crimson),black);
    border-image-slice: 50;
}

header .user .name{
    font-size: 3.5rem;
    color: #fff;
}

header .user .post{
    font-size: 2rem;
    color: #eee;
}

header .navbar{
    width: 100%;
}

header .navbar ul{
    list-style: none;
    padding: 1rem 3rem;
}

header .navbar ul li a{
    display: block;
    font-size: 2rem;
    color: #fff;
    padding: 1rem;
    margin: 1.5rem 0;
    background-color: #333;
    border-radius: 5rem;
}


header .navbar ul li a:hover{
    background: linear-gradient(var(--crimson),black);
}


.home{
    display: flex;
    justify-content: center;
    flex-flow: column;
    padding: 0 15rem;
}

.home h3{
    font-size: 2.5rem;
    color: #fff;
}

.home h1{
    font-size: 2rem;
    color: #fff;
}

.home h1 span{
    color: var(--crimson);
}

.home p{
    font-size: 2rem;
    color: #eee;
    padding: 1rem 0;
}

.btn{
    padding: .7rem 3rem;
    background-color: #4f4d4d;
    color: #fff;
    cursor: pointer;
    margin-top: 1rem;
    font-size: 2rem;
    border-radius: 5rem;
}

.btn:hover{
    background: linear-gradient(var(--crimson),black);
}


.about .row{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem 0;
}


.about .row .info{
    padding: 2rem 1rem;
    padding-left: 6rem;
    /* text-align: justify; */
}


.about .row .info h3{
font-size: 2rem;
color: var(--crimson);
padding: 1rem 0;
font-weight: normal;
 /* text-align: justify; */
}


.about .row .info h3 span{
    color: #eee;
    padding: 0 .5rem;
}


.about .row .counter{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.about .row .counter .box{
    width: 20rem;
    background-color: #222;
    text-align: center;
    padding: 2rem;
    margin: 2rem;
}


.about .row .counter .box span{
font-size: 4rem;
color: var(--crimson);
}


.about .row .counter .box h3{
    font-size: 2rem;
    color: #fff;
    }

    .heading{
        color: #fff;
        text-align: center;
        font-size: 4rem;
        padding: 1rem;
       padding-left: 0;
       
    }

    .heading span{
        color: var(--crimson);
    }


    .education .box-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        padding: 1rem 0;
        padding-left: 3rem;
    }


    .education .box-container .box{
        width: 27rem;
        margin: 4rem 1rem;
        padding-left: 4rem;
        border-right: .2rem solid #fff;

    }


    .education .box-container .box span{
       font-size: 1.3rem;
       background-color: #222;
       color: #fff;
       padding: .5rem 2.5rem;
       border-radius: 5rem;
    }

    .education .box-container .box h3{
        font-size: 2rem;
        color: var(--crimson);
        padding: 1.5rem;
     }


     .education .box-container .box p{
        font-size: 1.4rem;
       text-align: justify;
        color: #eee;
        padding: 1rem 0;
        padding-right: 1rem;
     }


     .portfolio .box-container{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
        /* margin: 3rem; */
        /* gap: 3rem; */
        
     }


     .portfolio .box-container .box{ 
        /* display: flex; */
        width: 26rem;
        margin: 2rem;
        height: 30rem;
        /* flex-wrap: wrap; */
        /* height: 30rem;
        width: 26rem;
        margin: 2rem; */
     }
     .portfolio .box-container .box .projectinfo{
        background-color: #222;
        padding: 1rem;
        text-align: center;
        font-size: 10px;
     }
     .portfolio .box-container .box .projectinfo h3{
        color: var(--crimson);
        margin-top: .3rem;
        margin-bottom: 1rem;
     }

     .portfolio .box-container .box .projectinfo p{
        color: #eee;
        text-align: justify;
     }
     .portfolio .box-container .box img{
      height: 100%;
      width: 100%;
     }
     .btn1{
        padding: .2rem 3rem;
        margin-top: 1rem;
        background-color: #333;
        color: #fff;
        font-size: 2rem;
        border-radius: 5rem;
        margin-top: 1rem;

     }

     .btn1:hover{
        background-color: white;
        color: black;
     }

     .contact .heading{
        margin-top: 12rem;
     }

     .contact .row{
        display: flex;
        align-items: center;
        justify-content: center;
        flex-wrap: wrap;
     }

     .contact .row .content .info h3{
        padding: 2rem;
        padding-bottom: 0;
        color: #fff;
     }

     .contact .row form{
        flex:1 1 45rem;
        padding: 2rem;
        margin: 2rem;
        margin-bottom: 4rem;
     }

     .contact .row form .box{
        padding: 1.5rem;
        margin:  1rem 0;
        background-color: #454545;
        text-transform: uppercase;
        font-size: 1.7rem;
        width: 100%;
     }

     .contact .row form .box::placeholder{
        text-align: center;
     }

     .contact .row form .message{
        resize: none;
        height: 15rem;
     }

     .contact .row .content .info h3{
        display: flex;
        align-items: center;
        font-size: 2rem;
        color: #eee;
        padding: 1rem;
        font-weight: normal;

     }

     .footer{
        background-color: #454545;
        height: 40px;
        display: flex;
        justify-content: space-around;
        align-items: center;
     }

     .footer .left{
        font-size: 12px;
        color: #eee;
     }

     .footer .right{
        display: flex;
        gap: 20px;
        margin-bottom: 10px;
     }